<%- include('header'); -%>
	<div class="MainContent pt-5">
		<div class="row">
			<div class="col-md-6 offset-md-3 col-sm-6 offset-sm-3">
				<img src="/images/unav-2.png">
				<h4 class="pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</h4>
				<div class=" pt-4 text-center mainSectionBtns">
					<button class="HeroPageBtn">Register</button>
					<button class="HeroPageBtn">Login</button>
					<button class="HeroPageBtn">Agenda</button>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 text-center d-flex justify-content-end pr-5">
				<div class="card text-white">
					<h5 class="pt-2">head:</h5>
					<p class="pb-2 cardContaint">
						<div class="row no-gutters pb-2">
							<div class="col-md-5 col-sm-5">
								<span class="dots">
									<i class="fas fa-circle"></i>
									<i class="fas fa-circle"></i>
									<i class="fas fa-circle"></i>
								</span>
							</div>
							<div class="col-md-7 col-sm-7">
								<span>Lorem</span> <br>
								<span>ipsum</span><br> 
								<span>dolor sit</span> 
							</div>
						</div>
						</p>	
					<h3>Lorem <br>Ipsum</h3>
				</div>
			</div>
		</div>
		<div class="pt-5 secondContent">
			<div class="row">
				<div class="heroTop">
					<div class="col-md-6 offset-sm-3">
						<div class="timerSection">
							<div class="shadow-lg p-3 bg-white rounded">
								<div class="row text-center">
									<div class="col-md-3 col-sm-3">
										<h3>00</h3>
										<p>Days</p>
									</div>
									<div class="col-md-3 col-sm-3">
										<h3>00</h3>
										<p>Hours</p>
									</div>
									<div class="col-md-3 col-sm-3">
										<h3>00</h3>
										<p>Mins</p>
									</div>
									<div class="col-md-3 col-sm-3">
										<h3>00</h3>
										<p>Secs</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="text-center secondContentBtns">
				<button>ININC</button>
			</div>
		</div>
	</div>
<%- include('footer'); -%>
