<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
	<link rel="stylesheet" type="text/css" href="/css/Style.css">
</head>
<body>
	<div class="loader"></div>
	<div class="mainContent">
		<h1>hi <span id="Username"></span> Welcome, </h1>
		<h1>Your email is <span id="userEmail"></span></h1>
		<button class="btn btn-sm btn-primary" id="LogoutUser">Logout</button>
	</div>

<!-- Jquery CDN -->
<script src="/js/jquery-cdn.js"></script>
<!-- Js for handleing login -->
<script src="/js/Profile.js"></script>

</body>
</html>