<%- include('header'); -%>
	<div class="container">
		<div class="row pt-5">
			<div class="col-md-6 offset-md-3 border">
				<h3 class="text-center pt-3">Register</h3>
				<form>
					<p class="text-danger emptyErr"></p>
					<p class="text-danger emailErr"></p>
					<p class="text-danger passErr"></p>
				  <div class="form-group">
				    <label for="exampleInputEmail1">UserName</label>
				    <input type="text" name="username" class="form-control" id="Username">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputEmail1">Email address</label>
				    <input type="email" name="email" class="form-control" id="UserEmail">
				  </div>
				  <div class="form-group">
				    <label>Password</label>
				    <input type="password" name="password" class="form-control" id="UserPass">
				  </div>
				  <div class="form-group">
				    <label for="ConfPass">Re-enter Password</label>
				    <input type="password" name="password" class="form-control" id="confPass">
				  </div>
			      <div class="text-center pb-3">
				    <button type="button" id="registerSubmit" class="btn btn-primary">Register</button>
				  	<div class="authLoader"></div>
			  	  	<p class="pt-3 mt-3">Already have Account?</p>
			  		<a href="/auth/users/"> 
			  			<button type="button" class="btn btn-success">Login</button>
		  		    </a>
			      </div>
				</form>
			</div>
		</div>
	</div>
<%- include('footer'); -%>
